<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Nickname Update</title>
</head>
<body>
<h2>닉네임, 권한 설정</h2>
<form action="/users/nickname" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="userProvideId" value="${userProvideId}">
    <label for="nickname">닉네임 :</label>
    <input type="text" id="nickname" name="nickname" required>
    <br>
    <label for="role">Role :</label>
    <select id="role" name="role" required>
        <option value="ROLE_USER">User</option>
        <option value="ROLE_ADMIN">Manager</option>
    </select>
    <br>
    <button type="submit">Update</button>
</form>
</body>
</html>