<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.src.item.repository.ItemMapper">
    <insert id="save">
        insert into item(item_name,price,quantity)
        values(#{itemName} , #{price}, #{quantity})
    </insert>
    <update id="update">
        update item
        set item_name=#{itemName},
            price=#{price},
            quantity=#{quantity}
        where id = #{id}
    </update>

    <select id="findById" resultType="ItemDto">
        select id,item_name,price,quantity
        from item
        where id=#{id}
    </select>

    <select id="findAll" resultType="ItemDto">
        select id,item_name,price,quantity
        from item
        <where>
            <if test="itemName!=null and itemName!=''">
                and item_name like concat('%', #{itemName},'%')
            </if>
            <if test="maxPrice!=null">
                and price &lt;= #{maxPrice}
            </if>
        </where>
    </select>


</mapper>