<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.src.menu.MenuMapper">

    <resultMap id="menuResultMap" type="Menu">
        <id property="menuId" column="menu_id" />
        <result property="storeId" column="store_id" />
        <result property="userId" column="user_id" />
        <result property="menuName" column="menu_name" />
        <result property="image" column="image" />
        <result property="price" column="price" />
    </resultMap>

    <select id="selectMenusByStoreId" parameterType="Integer" resultMap="menuResultMap">
        SELECT * FROM menu WHERE store_id = #{storeId}
    </select>

    <insert id="insertMenu" parameterType="Menu">
        INSERT INTO menu (
            store_id,
            menu_name,
            image,
            price
        ) VALUES (
                     #{storeId},
                     #{menuName},
                     #{image},
                     #{price}
                 )
    </insert>

    <update id="updateMenu" parameterType="Menu">
        UPDATE menu SET
                         store_id = #{storeId},
                         menu_name = #{menuName},
                         image = #{image},
                         price = #{price}
        WHERE menu_id = #{menuId}
    </update>

    <delete id="deleteMenu" parameterType="int">
        DELETE FROM menu WHERE menu_id = #{menuId}
    </delete>
</mapper>
