<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis mapper 설정 파일임을 선언한다. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.src.refresh.dao.RefreshTokenMapper">

    <!-- save() -->
    <insert id="save" parameterType="com.example.demo.src.refresh.domain.RefreshToken">
        INSERT INTO refreshToken (userProvideId, refreshToken, expiration)
        VALUES (#{userProvideId}, #{refreshToken}, #{expiration})
    </insert>

    <!-- isExistByRefresh -->
    <select id="isExistByRefresh" parameterType="string" resultType="boolean">
        SELECT COUNT(*)
        FROM refreshToken
        WHERE refreshToken = #{refreshToken}
    </select>

    <!-- deleteByRefresh -->
    <delete id="deleteByRefresh" parameterType="java.lang.String">
        DELETE FROM refreshToken WHERE refreshToken = #{refreshToken}
    </delete>
</mapper>