<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis mapper 설정 파일임을 선언한다. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.example.demo.src.user.dao.UserMapper">
    <!--save()-->
    <insert id="signUp" parameterType="com.example.demo.src.user.domain.User">
        INSERT INTO user(userName, userNickname, userEmail) VALUES (#{userName}, #{userNickname}, #{userEmail})
    </insert>
    <!--
        save() 할 떄
            - sns로부터 받는 정보 철
            - 그 정보에 닉네임 + 권한 얹기
            - 그걸 저장하기
        -> 이거 어떻게 매핑할지 생각해보기 (각각 dto만든다음 최종 dto에 합쳐 넣을까 ??)
    -->

    <!--findBYId()-->
    <select id="findById" parameterType="long " resultType="com.example.demo.src.user.domain.User">
        SELECT * FROM user WHERE userId = #{userId}
    </select>
    <!--findByUserNickname()-->
    <select id="findByNickname" parameterType="String" resultType="com.example.demo.src.user.domain.User">
        SELECT * FROM user WHERE userNickname = #{userNickname}
    </select>
    <!--deleteByNickname()-->
    <delete id="deleteByNickname" parameterType="String">
        DELETE FROM user WHERE userNickname = #{userNickname}
    </delete>
    <!--isExistByNickname()-->
    <select id="isExistByNickname" parameterType="String" resultType="boolean">
        SELECT COUNT(*)
        FROM User
        WHERE userNickname = #{userNickname}
    </select>
    <!--isExistByEmail-->
    <select id="isExistByEmail" parameterType="String" resultType="boolean">
        SELECT COUNT(*)
        FROM User
        WHERE userEmail = #{userEmail}
    </select>

</mapper>