<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.src.store.mapper.UserStoreLikesMapper">

    <!-- 좋아요 추가 -->
    <insert id="addLike">
        INSERT INTO user_store_likes (user_uuid, store_id)
        VALUES (#{userId}, #{storeId})
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="removeLike">
        DELETE FROM user_store_likes
        WHERE user_uuid = #{userId} AND store_id = #{storeId}
    </delete>

    <!-- 특정 리스트에 대한 좋아요 수 가져오기 -->
    <select id="getLikesCount" resultType="int">
        SELECT COUNT(*)
        FROM user_store_likes
        WHERE store_id = #{storeId}
    </select>

    <!-- 사용자가 특정 가게를 좋아요 눌렀는지 확인 -->
    <select id="isLikedByUser" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user_store_likes
        WHERE user_uuid = #{userId} AND store_id = #{storeId}
    </select>

</mapper>
